#main_container {
    width: 50%;
    margin: 0 auto;
}
#add_container {
    width: 50%;
}
#labels_col, #inputs_col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: baseline;
}
#form_cols {
    display: flex;
    gap: 5px;
}
#courses_form {
display: flex;
flex-direction: column;
}
#add_btn {
    align-self: flex-end;
    margin-top: 10px;
    padding: 2px 5px;
}
#labels_col {
    flex: 1;
}
#inputs_col {
    flex: 3;
}
#courses_table {
    width: 100%;
}
th, tr, td {
    border: 1px solid black;
}